.budgets-container{
    height: 100vh;
    display: flex;
    align-items: center;
}

.budgetsItems-holder{
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(300px,1fr));
    gap: 20px;
}